
<!DOCTYPE html>
<html>
<head>
  <title>Secret Page App</title>
</head>
<body>


  <? if (loggedIn) { ?>
    Hello, <?= username ?>
    <li><a href="/logout">Log Out</a></li>
  <? } else { ?>
    <li><a href="/register">Sign Up</a></li>
    <li><a href="/login">Log In</a></li>
  <? } ?>
