
<? include partials/header ?>

<h1>Welcome to the Secret Page!</h1>

<img src="http://www.wpclipart.com/signs_symbol/words/stamps/top_secret_stamp_T.png">

<h2>"Be sure to drink your Ovaltine"</h2>

<? include partials/footer ?>
